body {
  background-color:#135473;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-text {
  background-color: #ffc20c7d;
  text-align: center;
  padding: 260px;
  font-size: x-large;
  /* bg img settings */
  background-image: url("../images/mainbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#start-button {
  font-size: larger;
  padding: 10px;
  background-color: #33a0d5;
}

#start-button:hover, .answer:hover { 
  background-color: #03a9f4; /* on hover change button color */
}

.hidden {
  visibility: hidden;
}

/* controls position of container for all screens */
 .box-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

#quiz {
  background-color: #1b7ac6;
  padding:100px 150px; 
  font-size: x-large;
  background-image: url("../images/quizPageBg.png");
}

#question {
  justify-content: center;
  display: flex;
  padding: 50px;
  background-color: #009fa4;
}

.answer-buttons {
  display: grid;
  /* bg color and padding create a border around the answer butttons*/
  background-color: #607D8B; 
  padding: 15px 32px;
  border-radius: 25px; /* makes corners round */
}

.answer {
  padding:12px 28px; /* adjusts answer button size */
  background-color: #dcdcdc;
}

#score { 
  background-color: #b0cd8e;
  padding: 160px;
}

#replay-button { 
  padding:25px 50px; /* adjusts answer button size */
  background-color: #ffd700;
}

#replay-button:hover {
  background-color: #ffc107;
}

#score-title {
  font-size: 50px; 
  text-decoration: underline;
}

#user-score {
  font-size:40px;
  text-align: center;
}

.cursor {
  cursor:pointer;
}

.border-font {
  border:solid;
  font-size: large;
}



/* media break points */
@media screen and (max-width: 706px) {
  .hero-text {
   padding: 160px;
 }
}

@media screen and (max-width: 500px) {
  .hero-text {
   padding: 100px;
 }
}

@media screen and (max-width: 544px) {
  #quiz{
    padding: 80px 100px;
  }
  #score {
    padding: 100px;
  }
}

@media screen and (max-width: 392px) {
  .hero-text {
   padding: 80px;
}

#score {
  padding: 70px;
}
}

@media screen and (max-width: 306px) {
  .hero-text {
   font-size: large;
   padding: 60px;
 }
 #score-title {
  font-size: 30px;
  text-align: center;
 }

 #user-score {
  font-size: 30px;
 }

 #replay-button {
  font-size:medium;
 }
}

@media screen and (max-width: 544px) {
  #quiz{
    padding: 40px 60px;
    font-size:medium;
  }
}

@media screen and (max-width: 259px) {
  .hero-text {
   font-size: medium;
   padding: 40px;
 }
}
