body {
  background-color:#135473;
  /* background-image: url("../images/quizPageBg.png"); */
}

.hero-text {
  background-color: #ffc20c7d;
  text-align: center;
  padding: 260px;
  font-size: x-large;
  border:solid;
  /* Position and center the image to scale nicely on all screens */
  background-image: url("../images/mainbg.png");
  height: 100%; /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}

#start-button {
  font-size: larger;
  padding: 10px;
  background-color: #33a0d5;
}

.hidden {
  visibility: hidden;
}

/* controls position of container for all screens */
.box-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quiz {
  background-color: #1b7ac6;
  padding:100px 150px; 
  font-size: x-large;
  background-image: url("../images/quizPageBg.png");
}


#question {
  justify-content: center;
  display: flex;
  border:solid;
  padding: 50px;
  background-color: #009fa4;
}

.answer-buttons {
  display: grid;
  /* bg color and padding create a border around the answer butttons*/
  background-color: #607D8B; 
  padding: 15px 32px;
  border-radius: 25px; /* makes corners round */
}

.answer {
  cursor: pointer; /* adds hand pointer on hover*/
  padding:12px 28px; /* adjusts answer button size */
  font-weight: bold; /* makes font bold for answer buttons*/
  font-size: large;
  background-color: #dcdcdc;
}

#score { 
  background-color: #b0cd8e;
  padding: 160px;
  border:solid;
}

#replay-button { /* make class so answer buttons and replay-button don't repeat same code -- possibly quiz-buttons?*/
  cursor: pointer; /* adds hand pointer on hover*/
  padding:25px 50px; /* adjusts answer button size */
  font-weight: bold; /* makes font bold for answer buttons*/
  font-size: large;
  background-color: #ffd700;
}

#score-title {
  font-size: 50px; 
  text-decoration: underline;
}

#user-score {
  font-size:40px;
  text-align: center;
}