body {
  background-color:#135473;
}

.hero-text {
  background-color: #ffc20c7d;
  border:solid;
  /* Position and center the image to scale nicely on all screens */
  background-image: url("../images/mainbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#start-button {
  background-color: #33a0d5;
  cursor: pointer; /* adds hand pointer on hover*/
}

#start-button:hover, .answer:hover { 
  background-color: #03a9f4; /* on hover change button color */
}

.hidden {
  visibility: hidden;
}

#quiz {
  background-color: #1b7ac6;
  background-image: url("../images/quizPageBg.png");
}

#question {
  border:solid;
  background-color: #009fa4;
}

.answer-buttons {
  /* bg color and padding create a border around the answer butttons*/
  background-color: #607D8B; 
}

.answer {
  cursor: pointer; /* adds hand pointer on hover*/
  font-weight: bold; /* makes font bold for answer buttons*/
  background-color: #dcdcdc;
}

#score { 
  background-color: #b0cd8e;
  border:solid;
}

#replay-button { /* make class so answer buttons and replay-button don't repeat same code -- possibly quiz-buttons?*/
  cursor: pointer; /* adds hand pointer on hover*/
  font-weight: bold; /* makes font bold for answer buttons*/
  background-color: #ffd700;
}

#replay-button:hover {
  background-color: #ffc107;
}

#score-title {
  text-decoration: underline;
}





